<!-- NAV BAR -->
<div class="navbar-fixed bg-color-1">
    <nav class="bg-color-1 ">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo right"><img src="{{site.logo_light}}" height="55"></a>
            <a href="#" data-target="mobile-nav-menu" class="sidenav-trigger" style="padding-top: 10px;"><i class="fas fa-bars fa-2x"></i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{{site.baseurl}}/#approach" class=" site-text">APPROACH</a></li>
                <li><a href="{{site.baseurl}}/#learn" class=" site-text">LEARN</a></li>
                <li><a href="{{site.baseurl}}/#meet" class=" site-text">MEET</a></li>
                <li><a href="{{site.baseurl}}/#speak" class=" site-text">SPEAK</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav bg-color-1" id="mobile-nav-menu" style="width: 140px !important;">
    <li><a href="{{site.baseurl}}/#approach" class=" site-text">APPROACH</a></li>
    <li><a href="{{site.baseurl}}/#learn" class=" site-text">LEARN</a></li>
    <li><a href="{{site.baseurl}}/#meet" class=" site-text">MEET</a></li>
    <li><a href="{{site.baseurl}}/#speak" class=" site-text">SPEAK</a></li>
</ul>
